<?xml version="1.0"?>
<launch>

    <!--Model Parameters-->
    <arg name="link1_mass" default="1.5"/>
    <arg name="link2_mass" default="1.5"/>
    <arg name="link1_end_mass" default="1.0"/>
    <arg name="link2_end_mass" default="1.0"/>

    <arg name="link1_length" default="0.36"/>
    <arg name="link1_COM_pos" default="0.18"/>
    <arg name="link2_length" default="0.3"/>
    <arg name="link2_COM_pos" default="0.15"/>

    <!--Simulation Parameters-->
    <arg name="sample_time" default="0.02"/>
    <arg name="q2_init_angle" default="0.1"/>
    <arg name="q1_init_angle" default="0.1"/>

    <!--Load mesh model -->
    <arg name="urdf_model" value="$(find dlm_sim)/urdf/manipulator.urdf"/>
    <param name="robot_description" command="cat $(arg urdf_model)" />

    <!--Robot State Publisher -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="manipulator_state_pub" >
    </node>


    <node pkg="dlm_sim" type="ctc_ctrl.py" name="manipulator_ctrl" output="screen">
    </node>

    <!--Initialise pendulum system model -->
    <include file="$(find dlm_sim)/launch/dlm_sim.launch">
        <param name="q2_init_angle" value="$(arg q2_init_angle)"/>
        <param name="q1_init_angle" value="$(arg q1_init_angle)"/>
        <param name="link1_mass" value="$(arg link1_mass)"/>
        <param name="link2_mass" value="$(arg link2_mass)"/>
        <param name="link1_end_mass" value="$(arg link1_end_mass)"/>
        <param name="link2_end_mass" value="$(arg link2_end_mass)"/>
        <param name="link1_length" value="$(arg link1_length)"/>
        <param name="link1_COM_pos" value="$(arg link1_COM_pos)"/>
        <param name="link2_length" value="$(arg link2_length)"/>
        <param name="link2_COM_pos" value="$(arg link2_COM_pos)"/>
        <param name="sample_time" value="$(arg sample_time)"/>
    </include>
       
    <!--Robot State Publisher --> <!--Uncomment-->    
    <!--<node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui">
    </node>-->

    <arg name="rvizconfig" default="$(find dlm_sim)/rviz/manipulator.rviz" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" /> 

</launch>